.container {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0;

    > .cursor {
        position: absolute;
        width: 80px;
        height: 80px;
        //border-radius: 20px;
        transition: opacity 0.1s linear;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        background: url("textures/icons/cursor.png");

        > .crown {
            width: auto;
            height: auto;
            font-size: 18px;
            margin-top: 14px;
            color: rgba(1,1,1,0.7);
        }

        &.ghost {
            opacity: 0.55;
            filter: brightness(0.6);
        }
    }

    &.visible {
        opacity: 1;
    }
}
