$color: #bbbbbb;

FadeScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	align-self: center;
	opacity: 1;
	margin: 0;
	padding: 0;
	background-position: center;
	//transform: translate(-15%, -15%);

	> .circle {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 500px;
		height: 500px;
		box-shadow: 0 0 0 99999px $color;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	> .scroll {
		width: 100%;
		height: 100%;
		background-image: url( "textures/icons/spyglass.png" );
		background-size: 85px;
		opacity: 0;
		transition: opacity 0.2s linear;
		//transform: rotate(3deg);


		&.visible {
			opacity: 0.5;
			transition: opacity 0.2s linear;
		}
	}
}
