
.leaderboard-panel {
    position: absolute;
    bottom: 15px;
    left: 15px;
    flex-direction: column;
    background-color: #1114;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    padding: 10px;
    padding-bottom: 20px;
    color: #fff;
    backdrop-filter: blur( 23px );
    font-size: 17px;
    height: 50%;
    transition: all 0.7s linear;
    width: 370px;

    h2 {
        padding: 10px;
        font-family: poppins;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 0.7;
    }

    .entry {
        width: 350px;
        gap: 10px;
        white-space: nowrap;
        opacity: 0.2;
        padding: 0px 10px;
        border-radius: 25px;

        .name {
            flex-grow: 1;
        }

        .value, .rank {
            font-family: 'Cascadia Code', monospace;
        }

        &.me {
            opacity: 0.9;
            background-color: #b6ff0011;
            color: #b6ff00;
        }
    }

    .loading {
        width: 100px;
        margin-top:210px;
        height: 100px;
        align-self: center;
        color: #fff;
        opacity: 1;
        background-size: 100px;
        background: url("textures/icons/loading.png");
    }
}
